/*---------------------- 'Media Queries'-------------- */

/* 992- 1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 940px;
  }
}
/* 768-992px */
@media screen and (max-width: 992px) {
  .container {
    width: 700px;
    justify-content: space-between;
  }
  .logo {
    margin-right: 0;
  }
  .order {
    margin-left: 0;
  }
  .list li {
    width: 30%;
  }
  .form_head {
    width: 34%;
  }
  .card_screen {
    width: 60%;
  }
  .right_tit, .left_tit {
    width: 45%;
  }
  .law, .end {
    width: 10%;
  }
}
/* 576-768px */
@media screen and (max-width: 768px) {
  .container {
    width: 520px;
  }
  .menu li:not(:last-child) {
    margin-right: 8px;
  }
  .list {
    flex-direction: column;
  }
  .list li {
    width: 100%;
    margin: 0 auto 20px;
  }
  .cards_wrapper {
    flex-direction: column;
  }
  .right_tit, .left_tit, .card_screen, .form_head {
    width: 100%;
  }
  .form_head {
    margin-bottom:30px;
  }
  .final {
    flex-direction: column;
  }
  .end, .text, .button_2, .button_1, .law {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* 320-576px  */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .navigation {
    padding-top: 40px;
  }
  .logo {
    position: absolute;
    top: 10px;
  }
  .nav {
    margin: 0 auto;
  }
  .menu {
    flex-direction: column;
    text-align: center;
  }
  .menu li:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .order {
    position: absolute;
    top: 10px;
    right: 6%;
  }
  .all_tit {
    flex-direction: column-reverse;
  }
  .right_tit {
    margin-bottom: 16px;
  }
}